#requests, pandas, numpy, networkx, matplotlib, plotly, folium
#streamlit, pandas, seaborn

# Core
pandas
numpy
requests
networkx
matplotlib
plotly
seaborn
dash
os
dys
json
# Map + Web UI
folium
streamlit
streamlit-folium
#graph
random
# Export & Report
openpyxl
reportlab

# Optional (nếu có)
customtkinter
dash
pycountry
pycountry-convert
