#requests, pandas, numpy, networkx, matplotlib, plotly, folium
#streamlit, pandas, seaborn

# Core
pandas
numpy
requests
networkx
matplotlib
plotly
seaborn
dash
# Map + Web UI
folium
streamlit
streamlit-folium

# Export & Report
openpyxl
reportlab

# Optional (nếu có)
customtkinter
dash
